/*Custom propierties*/

:root{
    --firstColor: #ffff;
    --colorHeader:#33C5FF;
    --colorHero:#DFC6ED;
    --colorMain:#F1BD1D;
    --coloSidebar:#7EAC0F;
    --colorExtraContent: #94968F;
    --colorImg:#2ABB6D;
    --colorPost:#F4D2F3;
    --colorFooter:#F5920F;
}