@import "props";

/* Global */
* {
    box-sizing: border-box;
    color:var(--colorBlanco)
}
p {
    padding: 10px;
}

/* Header */
header {
    display: flex;
    background-color: var(--colorCeleste);
   
}

h1{
    flex: 1 1 auto;
    text-align: center;
}
/* Container */
.container {
    display: flex;
    height: 84vh;
    @media(max-width:600px){
        flex-direction: column;
    }
}

.sideBar {
   display: flex;
   flex-direction: column;
   background-color: var(--colorAzul);
   font-size: 1.3rem;
   flex: 1 1 400px;
   @media(max-width:600px){
        flex: 1 1 0;
        order:2;
    }

}

a {
    line-height: 40px;
    border-bottom: 2px solid rgba(255,255,255,.3);
    text-decoration: none;
}

.mainContent {
    display: flex;
    background-color: var(--colorLila);
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    @media(max-width:600px){
        flex: 3 1 auto;
        order:1;
    }
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorNaranja);

}

