@import "props";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
}

ul{
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 0;
  padding: 0;
  border: 0;
  height:80px;
  width:100%;
  list-style: none;

  @media(max-width:600px){
    
      flex-direction:column;
      height: auto;
  }

}

li{
    width:100%;
}
  
ul li:hover{
    height:80px;
}
  
li:nth-child(1){
    background-color: var(--colorCeleste);
}
li:nth-child(2){
    background-color: var(--colorAzul);
}
li:nth-child(3){
    background-color: var(--colorLila);
}
li:nth-child(4){
    background-color: var(--colorNaranja);
}
li:nth-child(5){
    background-color: var(--colorRojo);
}

a { 
    display:block;
    color: var(--colorBlanco); 
    font-size: 16px; 
    line-height: 50px; 
    text-decoration: none;
    text-align: center;
    height:100%;
    width:100%; 
}

ul li:hover a{
    line-height: 80px;
  }