/* Modal basic with a link*/
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
  }

  #btn__modal:target {
    opacity: 1;
    pointer-events: auto;
  }

  #btn__modal2:target {
    opacity: 1;
    pointer-events: auto;
  }

  #btn__modal3:target {
    opacity: 1;
    pointer-events: auto;
  }

.modal-contenido {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #c9c9c9;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20% auto;
    height: 400px;
    width: 400px;
  }

 .modal__header a {
  float: right;
  color:var(--cBlack);
  font-size: 2.5rem;
  text-decoration: none;
 }
  
 .modal__body {
   text-align: center;
   height: 100%;
 }

 .modal__body__info {
   text-align: justify;
   hyphens: auto;
   margin: 5rem 2rem;
 }

 .modal__body__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.material-icons {
  display: inline-block;
  vertical-align:text-bottom;
  font-size: 2.5rem;
}