body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
}

/* Para corregir el header fixed*/

body > .contenedor {
    margin-top: 80px;
}


header {
    position: fixed;
    top:0;
    background-color: cadetblue;
    width: 100%;
}


.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
   
}
.navegacion__logo {
    color: whitesmoke;
}

.navegacion__links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navegacion__links a {
    color: whitesmoke;
    text-decoration: none;
} 

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 90%;
}

.cuadrado-uno,
.cuadrado-dos,
.cuadrado-tres {
    text-align: center;
    color: whitesmoke;
    width: 400px;
    height: 400px;
}


.cuadrado-uno {
    background-color: orange;
    
}

.cuadrado-dos {
    background-color: blue;
 
}

.cuadrado-tres {
    background-color: #c2c96c;
}

.cuadrado__imagen {
    margin: 1rem;

    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    img:hover {
        transform:rotate(2deg) scale(1.1);
        transform-origin: center center ;
    }
   
}



.target{
    font-size:18px;
    opacity: 0;
    transform: translateX(40px);
    transition: all 1.5s ease;
  }
  .target:target{
    opacity: 1;
    transform: translateX(0);
  }
