* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
  }
  
  main {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    width: 100%;
  }
  
  @media(max-width: 768px){
    ul{
        grid-template-columns: repeat(2, auto);
    }
  }

  @media(max-width: 420px){
    ul{
        grid-template-columns: repeat(1, auto);
    }
  }


  li {
    display: flex;
    flex: 1 1 auto;
    height: 300px;
  }
  
  img {
    flex: 1 1 auto;
    height: 300px;
    inline-size: 100%;
    object-fit: cover;
  }