
/*Colores*/

$primario: #ee204a;
$secundario: #EEECEC;
$gris:#707070;


/* Fuentes */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');

$robotoSlab: 'Roboto Slab';