/* Opciones y cuadros de información*/

.opciones{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
    
    margin-top: 10rem;
    justify-self: center;
    

    @media(max-width: 768px){
        grid-template-columns: repeat(1,1fr);
        
        margin-top: 2rem;
        align-items: center;
        
         
    }
}


.opcion{
    margin-bottom: 3rem;
    text-align: center;
    
    button{
        width: 18rem;
        height: 12rem;
    }
    button h3{
        color: $primario;
    }
    
    button i{
        font-size: 3rem;
    }
    /*Para alinear el icono restaurante*/
    button .mt-10 {
        margin-top: 1rem;
    }

    @media(max-width: 768px){
      
      button{
        width: 70%;

      }  
    }
}


/* Cuandro información */

.cuadroInfo{
    margin: 0 auto;
    top: 5rem;
    height: auto;
    width: 132rem;

    background: $secundario;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);

    @media(max-width: 768px){
        width: 100%;

    }
}

/*Configuarción para cada opción de la info*/

.infoOpciones{
    padding: 1rem;
    margin: 0 auto;
    display: none; /* Así ocultamos el otro contenido*/

}
.infoOpciones1{
    padding: 1rem;
    margin: 0 auto;

    li{
        margin-left: 1.5rem;
    }
   
}