/*Tipografía */

h1{
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-size: 2rem;
    text-align: center;
    
}

b{
    color:$primario;
}

span{
    color:$gris;
    font-size: 7rem;
    
}