body {
  background-color: var(--cWhite);
  height: 120vh;   
}

p {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2.5rem;
  color: var(--cGrayClub); 
}

/*Container*/

.container {
  background-color: white;
  max-width: 120vh;

}
.welcome-container {
  padding: 2rem;

  & h1 b {
     color: var(--cPrimario);
     font-size: 7.2rem;
   }
   & h1 i {
    font-style: normal;
    font-size: 7.2rem;
   }

   & p {
     
     margin-top: 3rem;
   }

   & p b {
     color: var(--cPrimario);
     font-weight: 600;
   }
}

@media  screen and (min-width:320px) {
  .welcome-container h1 {
    font-size: 2rem;
    line-height: 5rem;
    margin-bottom: 0;
  }
  .welcome-container  h1 b {
    font-size: 3rem;
  }
  .welcome-container  h1 i {
    font-size: 3rem;
  }
}

@media  screen and (min-width:768px){

    .welcome-container h1 {
      font-size: 5rem;
      line-height: 5rem;
      margin-bottom: 0;
    }
    .welcome-container  h1 b {
      font-size: 5.8rem;
    }
    .welcome-container  h1 i {
      font-size: 5.8rem;
    }
}

/* Pdfs Container*/

.pdfs-container h3 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 5rem 2rem;
}

@media  screen and (max-width:420px) {

  .pdfs-container h3 {
    font-size: 1.6rem;
    letter-spacing: 0;
    padding: 0 2rem  4rem 2rem;
  }
}

/* Options*/

.options {
  position: relative;
  border: 1px solid black;
  margin: 0 2rem;
  min-height: 600px;
  clear: both;
}


.option {
  height: 120px;
  border: 1px solid blue;

  & input {
    display: none;
  }

  & label:checked {
    display: block;
  }
  & label {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    color: var(--cRed);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border: 1px solid #ccc;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  
  }
  & .material-icons {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 2.5rem;
    margin-right: 4px;
  }
}

.option-container {
  position: absolute;
  top: 102%;
  left: 0;
  background:var(--cWhite);
  right: 0;
  bottom: 0;
  padding: 20px;
  height: auto;
  overflow: hidden;
  border: 1px solid black;
}
.option-container > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
.option [type="radio"] {
  opacity: 0;
}

[type="radio"]:focus ~ label {
  outline: 2px solid var(--cGrayClub);
}
[type="radio"]:checked ~ label {
  background: rgb(241, 240, 240);
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .option-container {
  background-color: var(--cSecundario);
  height: 300px;
  border: 1px solid blue;
  transition: all 0.6s ease;
  z-index: 1;
}
[type="radio"]:checked ~ label ~ .option-container > * {
  opacity: 1;
  transform: translateX(0);
}

@media  screen and (min-width:425px){

  .option-container {
    top: 75%;
  }

}

@media  screen and (min-width:990px){

  .option-container {
    top: 50%;
  }

}