@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

:root{
    /* Fonts */
    --fontRoboto:'Roboto',sans-serif;
    --fontOpenSans:'Open Sans', sans-serif;
    --fontLato: 'Lato', sans-serif;

    /* Colors  */

    --cWhite: #ffffff;
    --cGrayLight:#e4dede;
    --cDarkGray:#b7b7b9;
    --cBlue:#2272e9;
    --cRed:#f00b0b;
    --cOrange:#f08d0b;
    --cGreen:#1ca846;

    /* Size */
    
    --w-100: 100%;
    --w-90: 90%;
    --wScreen: 1200px;
    --wTablet: 720px;
    --wMobile: 420px;

}
