/* Container */

@mixin container($width){
    max-width: var(--wScreen);
    width: $width;
    margin: 2rem auto;
}

.container-100 {
    @include container(100%);
}

.container-90 {
    @include container(90%);
}
