/* GRID */
.grid {
    display:grid;
    gap:2rem;
    margin: 2rem auto;
}


/* BIG SIZE for Computer and TV */
.col-1 {
    grid-template-columns: repeat(1,1fr);
}
.col-2 {
    grid-template-columns: repeat(2,1fr);
}
.xl-col-3 {
    grid-template-columns: repeat(3,1fr);
}
.col-4 {
    grid-template-columns: repeat(4,1fr);
}
.col-5 {
    grid-template-columns: repeat(5,1fr);
}
.col-6 {
    grid-template-columns: repeat(6,1fr);
}
.col-7 {
    grid-template-columns: repeat(7,1fr);
}
.col-8 {
    grid-template-columns: repeat(8,1fr);
}
.col-9 {
    grid-template-columns: repeat(9,1fr);
}
.col-10 {
    grid-template-columns: repeat(10,1fr);
}
.col-11 {
    grid-template-columns: repeat(11,1fr);
}
.col-12 {
    grid-template-columns: repeat(12,1fr);
}

xl-.span-1{
    grid-column: span 1;
}
.xl-span-2{
    grid-column: span 2;
}
.xl-span-3{
    grid-column: span 3;
}
.xl-span-4{
    grid-column: span 4;
}
.xl-span-5{
    grid-column: span 5;
}
.xl-span-6{
    grid-column: span 6;
}
.xl-span-7{
    grid-column: span 7;
}
.xl-span-8{
    grid-column: span 8;
}
.xl-span-9{
    grid-column: span 9;
}
.xl-span-10{
    grid-column: span 10;
}
.xl-span-11{
    grid-column: span 11;
}
.xl-span-12{
    grid-column: span 12;
}

/* MEDIUM SIZE for Tablets*/

@media screen and (max-width:992px){
    .med-col-1 {
        grid-template-columns: repeat(1,1fr);
    }
    .med-col-2 {
        grid-template-columns: repeat(2,1fr);
    }
    .med-col-3 {
        grid-template-columns: repeat(3,1fr);
    }
    .med-col-4 {
        grid-template-columns: repeat(4,1fr);
    }
    .med-col-5 {
        grid-template-columns: repeat(5,1fr);
    }
    .med-col-6 {
        grid-template-columns: repeat(6,1fr);
    }
    .med-col-7 {
        grid-template-columns: repeat(7,1fr);
    }
    .med-col-8 {
        grid-template-columns: repeat(8,1fr);
    }
    .med-col-9 {
        grid-template-columns: repeat(9,1fr);
    }
    .med-col-10 {
        grid-template-columns: repeat(10,1fr);
    }
    .med-col-11 {
        grid-template-columns: repeat(11,1fr);
    }
    .med-col-12 {
        grid-template-columns: repeat(12,1fr);
    }

    /*  MID-SPAN */

    .med-span-1{
        grid-column: span 1;
    }
    .med-span-2{
        grid-column: span 2;
    }
    .med-span-3{
        grid-column: span 3;
    }
    .med-span-4{
        grid-column: span 4;
    }
    .med-span-5{
        grid-column: span 5;
    }
    .med-span-6{
        grid-column: span 6;
    }
    .med-span-7{
        grid-column: span 7;
    }
    .med-span-8{
        grid-column: span 8;
    }.med-span-9{
        grid-column: span 9;
    }
    .med-span-10{
        grid-column: span 10;
    }
    .med-span-11{
        grid-column: span 11;
    }
    .med-span-12{
        grid-column: span 12;
    }
}



/* SMALL SIZE for Mobile*/

@media screen and (max-width:576px){
    .sm-col-1 {
        grid-template-columns: repeat(1,1fr);
    }
    .sm-col-2 {
        grid-template-columns: repeat(2,1fr);
    }
    .sm-col-3 {
        grid-template-columns: repeat(3,1fr);
    }
    .sm-col-4 {
        grid-template-columns: repeat(4,1fr);
    }
    .sm-col-5 {
        grid-template-columns: repeat(5,1fr);
    }
    .sm-col-6 {
        grid-template-columns: repeat(6,1fr);
    }
    .sm-col-7 {
        grid-template-columns: repeat(7,1fr);
    }
    .sm-col-8 {
        grid-template-columns: repeat(8,1fr);
    }
    .sm-col-9 {
        grid-template-columns: repeat(9,1fr);
    }
    .sm-col-10 {
        grid-template-columns: repeat(10,1fr);
    }
    .sm-col-11 {
        grid-template-columns: repeat(11,1fr);
    }
    .sm-col-12 {
        grid-template-columns: repeat(12,1fr);
    }

    /* SM-SPAN */
    .sm-span-1{
        grid-column: span 1;
    }
    .sm-span-2{
        grid-column: span 2;
    }
    .sm-span-3{
        grid-column: span 3;
    }
    .sm-span-4{
        grid-column: span 4;
    }
    .sm-span-5{
        grid-column: span 5;
    }
    .sm-span-6{
        grid-column: span 6;
    }
    .sm-span-7{
        grid-column: span 7;
    }
    .sm-span-8{
        grid-column: span 8;
    }.sm-span-9{
        grid-column: span 9;
    }
    .sm-span-10{
        grid-column: span 10;
    }
    .sm-span-11{
        grid-column: span 11;
    }
    .sm-span-12{
        grid-column: span 12;
    }
}